table.vmiddle>tbody>tr>td{
    vertical-align:middle;    
   }
   

   .barra {
       color: #FFFFFF;
       display: block;
       font-weight: bold;
       margin-bottom: -1px;
       height: 59px;
       text-align: center;
       font-size: 23px;
       background-color: #0072b0;
       line-height: 55px;
       position: relative;
   }
   
   .highlight {
       padding: 9px 14px;
       margin-bottom: 14px;
       background-color: #f7f7f9;
       border: 1px solid #e1e1e8;
       border-radius: 4px;
   }
   
   .archivo-ubicacion{
       overflow:hidden;
       height:35px;
   }
   .archivo-ubicacion div{
       height:100%;
       line-height:35px;
   }
   
   .archivo-ubicacion-label{
       font-weight:bold;
       font-size:15px;
   }
   
   .archivo-ubicacion-data{
       border:1px solid #ddd;
       border-left:0
   }
   
   .subir-archivos{
       background: #f8f8f8;
       padding-top: 10px;
       padding-bottom:10px;
       border-radius: 5px;
   }
   
   
   .carga-archivo-input {
       position: relative;
       overflow: hidden;
       margin: 0px;    
       color: #333;
       background-color: #fff;
       border-color: #ccc;    
   }
   .carga-archivo-input input[type=file] {
       position: absolute;
       top: 0;
       right: 0;
       margin: 0;
       padding: 0;
       font-size: 20px;
       cursor: pointer;
       opacity: 0;
       filter: alpha(opacity=0);
   }
   .carga-archivo-input-title {
       margin-left:2px;
   }


/* checkbox */

   input[type="checkbox"] { display: none; }

   input[type="checkbox"] + label {
     display: block;
     position: relative;
     padding-left: 35px;
     margin-bottom: 20px;
     font: 14px/20px 'Open Sans', Arial, sans-serif;
     color: #ddd;
     cursor: pointer;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
   }
   
   input[type="checkbox"] + label:last-child { margin-bottom: 0; }
   
   input[type="checkbox"] + label:before {
     content: '';
     display: block;
     width: 20px;
     height: 20px;
     border: 1px solid #4eafd7;
     position: absolute;
     left: 0;
     top: 0;
     opacity: .6;
     -webkit-transition: all .12s, border-color .08s;
     transition: all .12s, border-color .08s;
   }
   
   input[type="checkbox"]:checked + label:before {
     width: 10px;
     top: -5px;
     left: 5px;
     border-radius: 0;
     opacity: 1;
     border-top-color: transparent;
     border-left-color: transparent;
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg);
   }


/* Counter */

.qty .count {

 
   
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px
    ;min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;

    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
  
    background-clip: padding-box;
}

.minus:hover{
    background-color: #ea5853!important;
}
.plus:hover{
    background-color: #5dc074 !important;
}
/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.input{  
    border: 0;
    width: 2%;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input:disabled{
    background-color:white;
}
         