a,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.x-breadcrumb-wrap a:hover,
.x-comment-author a:hover,
.x-comment-time:hover,
.p-meta > span > a:hover,
.format-link .link a:hover,
.x-main .widget ul li a:hover,
.x-main .widget ol li a:hover,
.x-main .widget_tag_cloud .tagcloud a:hover,
.x-sidebar .widget ul li a:hover,
.x-sidebar .widget ol li a:hover,
.x-sidebar .widget_tag_cloud .tagcloud a:hover,
.x-portfolio .entry-extra .x-ul-tags li a:hover {
  color: #02aed6;
}
a:hover {
  color: #0386a5;
}
a.x-img-thumbnail:hover {
  border-color: #02aed6;
}
.x-main {
  width: 72%;
}
.x-sidebar {
  width: 28%;
}
.x-post-slider-archive-active .x-container.main:before {
  top: 0;
}
.x-content-sidebar-active .x-container.main:before {
  right: 28%;
}
.x-sidebar-content-active .x-container.main:before {
  left: 28%;
}
.x-full-width-active .x-container.main:before {
  left: -5000em;
}
.h-landmark,
.x-main .h-widget,
.x-main .h-widget a.rsswidget,
.x-main .h-widget a.rsswidget:hover,
.x-main .widget.widget_pages .current_page_item a,
.x-main .widget.widget_nav_menu .current-menu-item a,
.x-main .widget.widget_pages .current_page_item a:hover,
.x-main .widget.widget_nav_menu .current-menu-item a:hover,
.x-sidebar .h-widget,
.x-sidebar .h-widget a.rsswidget,
.x-sidebar .h-widget a.rsswidget:hover,
.x-sidebar .widget.widget_pages .current_page_item a,
.x-sidebar .widget.widget_nav_menu .current-menu-item a,
.x-sidebar .widget.widget_pages .current_page_item a:hover,
.x-sidebar .widget.widget_nav_menu .current-menu-item a:hover {
  /* color: #333333;d */
}
.x-main .widget,
.x-main .widget a,
.x-main .widget ul li a,
.x-main .widget ol li a,
.x-main .widget_tag_cloud .tagcloud a,
.x-main .widget_product_tag_cloud .tagcloud a,
.x-main .widget a:hover,
.x-main .widget ul li a:hover,
.x-main .widget ol li a:hover,
.x-main .widget_tag_cloud .tagcloud a:hover,
.x-main .widget_product_tag_cloud .tagcloud a:hover,
.x-main .widget_shopping_cart .buttons .button,
.x-main .widget_price_filter .price_slider_amount .button,
.x-sidebar .widget,
.x-sidebar .widget a,
.x-sidebar .widget ul li a,
.x-sidebar .widget ol li a,
.x-sidebar .widget_tag_cloud .tagcloud a,
.x-sidebar .widget_product_tag_cloud .tagcloud a,
.x-sidebar .widget a:hover,
.x-sidebar .widget ul li a:hover,
.x-sidebar .widget ol li a:hover,
.x-sidebar .widget_tag_cloud .tagcloud a:hover,
.x-sidebar .widget_product_tag_cloud .tagcloud a:hover,
.x-sidebar .widget_shopping_cart .buttons .button,
.x-sidebar .widget_price_filter .price_slider_amount .button {
  /* color: #707070; */
}
.x-main .h-widget,
.x-main .widget.widget_pages .current_page_item,
.x-main .widget.widget_nav_menu .current-menu-item,
.x-sidebar .h-widget,
.x-sidebar .widget.widget_pages .current_page_item,
.x-sidebar .widget.widget_nav_menu .current-menu-item {
  /* border-color: #333333; */
}
.x-post-slider {
  height: 400px;
}
.archive .x-post-slider {
  height: 400px;
}
.x-post-slider .x-post-slider-entry {
  padding-bottom: 400px;
}
.archive .x-post-slider .x-post-slider-entry {
  padding-bottom: 400px;
}
.format-link .link a,
.x-portfolio .entry-extra .x-ul-tags li a {
  color: #848484;
}
.p-meta > span > a,
.x-nav-articles a,
.entry-top-navigation .entry-parent,
.option-set .x-index-filters,
.option-set .x-portfolio-filters,
.option-set .x-index-filters-menu > li > a:hover,
.option-set .x-index-filters-menu > li > a.selected,
.option-set .x-portfolio-filters-menu > li > a:hover,
.option-set .x-portfolio-filters-menu > li > a.selected {
  color: #272727;
}
.x-nav-articles a,
.entry-top-navigation .entry-parent,
.option-set .x-index-filters,
.option-set .x-portfolio-filters,
.option-set .x-index-filters i,
.option-set .x-portfolio-filters i {
  border-color: #272727;
}
.x-nav-articles a:hover,
.entry-top-navigation .entry-parent:hover,
.option-set .x-index-filters:hover i,
.option-set .x-portfolio-filters:hover i {
  background-color: #272727;
}
@media (max-width: 979px) {
  .x-content-sidebar-active .x-container.main:before,
  .x-sidebar-content-active .x-container.main:before {
    left: -5000em;
  }
  body .x-main .widget,
  body .x-main .widget a,
  body .x-main .widget a:hover,
  body .x-main .widget ul li a,
  body .x-main .widget ol li a,
  body .x-main .widget ul li a:hover,
  body .x-main .widget ol li a:hover,
  body .x-sidebar .widget,
  body .x-sidebar .widget a,
  body .x-sidebar .widget a:hover,
  body .x-sidebar .widget ul li a,
  body .x-sidebar .widget ol li a,
  body .x-sidebar .widget ul li a:hover,
  body .x-sidebar .widget ol li a:hover {
    color: #848484;
  }
  body .x-main .h-widget,
  body .x-main .widget.widget_pages .current_page_item a,
  body .x-main .widget.widget_nav_menu .current-menu-item a,
  body .x-main .widget.widget_pages .current_page_item a:hover,
  body .x-main .widget.widget_nav_menu .current-menu-item a:hover,
  body .x-sidebar .h-widget,
  body .x-sidebar .widget.widget_pages .current_page_item a,
  body .x-sidebar .widget.widget_nav_menu .current-menu-item a,
  body .x-sidebar .widget.widget_pages .current_page_item a:hover,
  body .x-sidebar .widget.widget_nav_menu .current-menu-item a:hover {
    color: #272727;
  }
  body .x-main .h-widget,
  body .x-main .widget.widget_pages .current_page_item,
  body .x-main .widget.widget_nav_menu .current-menu-item,
  body .x-sidebar .h-widget,
  body .x-sidebar .widget.widget_pages .current_page_item,
  body .x-sidebar .widget.widget_nav_menu .current-menu-item {
    border-color: #272727;
  }
}
@media (max-width: 767px) {
  .x-post-slider,
  .archive .x-post-slider {
    height: auto !important;
  }
  .x-post-slider .x-post-slider-entry,
  .archive .x-post-slider .x-post-slider-entry {
    padding-bottom: 65% !important;
  }
}
html {
  font-size: 16px;
}
@media (min-width: 480px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 767px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 979px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
body {
  font-style: normal;
  font-weight: 400;
  color: #848484;
  background-color: #f3f3f3;
}
.w-b {
  font-weight: 400 !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
}
h1,
.h1 {
  letter-spacing: -0.035em;
}
h2,
.h2 {
  letter-spacing: -0.035em;
}
h3,
.h3 {
  letter-spacing: -0.035em;
}
h4,
.h4 {
  letter-spacing: -0.035em;
}
h5,
.h5 {
  letter-spacing: -0.035em;
}
h6,
.h6 {
  letter-spacing: -0.035em;
}
.w-h {
  font-weight: 700 !important;
}
.x-container.width {
  width: 88%;
}
.x-container.max {
  max-width: 1170px;
}
.x-main.full {
  float: none;
  display: block;
  width: auto;
}
@media (max-width: 979px) {
  .x-main.full,
  .x-main.left,
  .x-main.right,
  .x-sidebar.left,
  .x-sidebar.right {
    float: none;
    display: block;
    width: auto !important;
  }
}
.entry-header,
.entry-content {
  font-size: 1.125rem;
}
body,
input,
button,
select,
textarea {
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a,
blockquote {
  color: #272727;
}
.cfc-h-tx {
  color: #272727 !important;
}
.cfc-h-bd {
  border-color: #272727 !important;
}
.cfc-h-bg {
  background-color: #272727 !important;
}
.cfc-b-tx {
  color: #848484 !important;
}
.cfc-b-bd {
  border-color: #848484 !important;
}
.cfc-b-bg {
  background-color: #848484 !important;
}
.x-btn,
.button,
[type="submit"] {
  color: #ffffff;
  border-color: #282b2d;
  background-color: #282b2d;
  margin-bottom: 0.25em;
  text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.25em 0 0 #141516, 0 4px 9px rgba(0, 0, 0, 0.75);
}
.x-btn:hover,
.button:hover,
[type="submit"]:hover {
  color: #ffffff;
  border-color: #141516;
  background-color: #141516;
  margin-bottom: 0.25em;
  text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.25em 0 0 #000000, 0 4px 9px rgba(0, 0, 0, 0.75);
}
.x-btn.x-btn-real,
.x-btn.x-btn-real:hover {
  margin-bottom: 0.25em;
  text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.65);
}
.x-btn.x-btn-real {
  box-shadow: 0 0.25em 0 0 #141516, 0 4px 9px rgba(0, 0, 0, 0.75);
}
.x-btn.x-btn-real:hover {
  box-shadow: 0 0.25em 0 0 #000000, 0 4px 9px rgba(0, 0, 0, 0.75);
}
.x-btn.x-btn-flat,
.x-btn.x-btn-flat:hover {
  margin-bottom: 0;
  text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.65);
  box-shadow: none;
}
.x-btn.x-btn-transparent,
.x-btn.x-btn-transparent:hover {
  margin-bottom: 0;
  border-width: 3px;
  text-shadow: none;
  text-transform: uppercase;
  background-color: transparent;
  box-shadow: none;
}
.x-topbar,
.x-colophon.bottom {
  background-color: #222222;
}
.x-logobar,
.x-navbar,
.x-navbar .sub-menu,
.x-colophon.top {
  background-color: #292a2c;
}
.x-navbar .desktop .x-nav > li > a,
.x-navbar .desktop .sub-menu a,
.x-navbar .mobile .x-nav li > a,
.x-breadcrumb-wrap a,
.x-breadcrumbs .delimiter {
  color: #7c7c7c;
}
.x-topbar .p-info a:hover,
.x-social-global a:hover,
.x-navbar .desktop .x-nav > li > a:hover,
.x-navbar .desktop .x-nav > .x-active > a,
.x-navbar .desktop .x-nav > .current-menu-item > a,
.x-navbar .desktop .sub-menu a:hover,
.x-navbar .desktop .sub-menu .x-active > a,
.x-navbar .desktop .sub-menu .current-menu-item > a,
.x-navbar .desktop .x-nav .x-megamenu > .sub-menu > li > a,
.x-navbar .mobile .x-nav li > a:hover,
.x-navbar .mobile .x-nav .x-active > a,
.x-navbar .mobile .x-nav .current-menu-item > a,
.x-widgetbar .widget a:hover,
.x-colophon .widget a:hover,
.x-colophon.bottom .x-colophon-content a:hover,
.x-colophon.bottom .x-nav a:hover {
  color: #ffffff;
}
.x-navbar .desktop .x-nav > li > a:hover,
.x-navbar .desktop .x-nav > .x-active > a,
.x-navbar .desktop .x-nav > .current-menu-item > a {
  box-shadow: 0 2px 0 0 #02aed6;
}
.x-navbar .desktop .x-nav > li > a {
  height: 60px;
  padding-top: 21px;
}
.x-navbar-fixed-top-active .x-navbar-wrap {
  margin-bottom: 2px;
}
.x-navbar .desktop .x-nav > li ul {
  top: 62px;
}
@media (max-width: 979px) {
  .x-navbar-fixed-top-active .x-navbar-wrap {
    margin-bottom: 0;
  }
}
body.x-navbar-fixed-top-active .x-navbar-wrap {
  height: 60px;
}
.x-navbar-inner {
  min-height: 60px;
}
.x-logobar-inner {
  padding-top: 45px;
  padding-bottom: 45px;
}
.x-brand {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: -2em;
  color: #272727;
}
.x-brand:hover,
.x-brand:focus {
  color: #272727;
}
.x-brand img {
  width: 230px;
}
.x-navbar .x-nav-wrap .x-nav > li > a {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.085em;
  text-transform: uppercase;
}
.x-navbar .desktop .x-nav > li > a {
  font-size: 16px;
}
.x-navbar .desktop .x-nav > li > a:not(.x-btn-navbar-woocommerce) {
  padding-left: 25px;
  padding-right: 25px;
}
.x-navbar .desktop .x-nav > li > a > span {
  margin-right: -0.085em;
}
.x-btn-navbar {
  margin-top: 14px;
}
.x-btn-navbar,
.x-btn-navbar.collapsed {
  font-size: 28px;
}
@media (max-width: 979px) {
  body.x-navbar-fixed-top-active .x-navbar-wrap {
    height: auto;
  }
  .x-widgetbar {
    left: 0;
    right: 0;
  }
}
.x-topbar,
.x-colophon.bottom {
  background-color: #222222;
}
.x-logobar,
.x-navbar,
.x-navbar .sub-menu,
.x-colophon.top {
  background-color: #292a2c;
}
.x-navbar .desktop .x-nav > li > a,
.x-navbar .desktop .sub-menu a,
.x-navbar .mobile .x-nav li > a,
.x-breadcrumb-wrap a,
.x-breadcrumbs .delimiter {
  color: #7c7c7c;
}
.x-topbar .p-info a:hover,
.x-social-global a:hover,
.x-navbar .desktop .x-nav > li > a:hover,
.x-navbar .desktop .x-nav > .x-active > a,
.x-navbar .desktop .x-nav > .current-menu-item > a,
.x-navbar .desktop .sub-menu a:hover,
.x-navbar .desktop .sub-menu .x-active > a,
.x-navbar .desktop .sub-menu .current-menu-item > a,
.x-navbar .desktop .x-nav .x-megamenu > .sub-menu > li > a,
.x-navbar .mobile .x-nav li > a:hover,
.x-navbar .mobile .x-nav .x-active > a,
.x-navbar .mobile .x-nav .current-menu-item > a,
.x-widgetbar .widget a:hover,
.x-colophon .widget a:hover,
.x-colophon.bottom .x-colophon-content a:hover,
.x-colophon.bottom .x-nav a:hover {
  color: #ffffff;
}
.e7-1.x-section,
.e7-2.x-section,
.e7-3.x-section,
.e7-4.x-section,
.e7-5.x-section,
.e7-6.x-section,
.e7-7.x-section,
.e7-8.x-section,
.e7-9.x-section {
  margin: 0em;
  padding: 45px 0px 45px 0px;
  background-color: transparent;
  z-index: 1;
}
.x-btn {
  font-weight: 700;
}
.x-btn.x-btn-alt,
.button.x-btn-alt,
[type=\"submit\"].x-btn-alt {
  border-color: #02aed6;
  background-color: #02aed6;
  box-shadow: 0 0.25em 0 0 #0b8ead, 0 4px 9px rgba(0, 0, 0, 0.75);
}
.x-btn.x-btn-alt:hover,
.button.x-btn-alt:hover,
[type=\"submit\"].x-btn-alt:hover {
  border-color: #0b8ead;
  background-color: #0b8ead;
  box-shadow: 0 0.25em 0 0 #097690, 0 4px 9px rgba(0, 0, 0, 0.75);
}
.x-dropcap {
  background-color: #02aed6;
}
.dark-section h1,
.dark-section h2,
.dark-section h3,
.dark-section h4,
.dark-section h5,
.dark-section h6,
.dark-section h1 a,
.dark-section h2 a,
.dark-section h3 a,
.dark-section h4 a,
.dark-section h5 a,
.dark-section h6 a {
  color: #fff;
}
.dark-section h1 a:hover,
.dark-section h2 a:hover,
.dark-section h3 a:hover,
.dark-section h4 a:hover,
.dark-section h5 a:hover,
.dark-section h6 a:hover {
  color: #fff;
  opacity: 0.65;
}
.widget a {
  color: #02aed6;
}
.wpcf7-form {
  margin: 0;
}
