.forget-pwd > a {
  font-weight: 500;
}
.forget-password .panel-default {
  padding: 23% 10% 23% 10%;
  margin-top: -27%;
  background-color: #ffffff;
  border: 0px;
}
.forget-password .panel-body {
  padding: 5% 10% 5% 10%;
  /* padding: 23% 30% 23% 30%; */
  margin-bottom: -50%;
  /* background: #a5a5a5; */
  border: 1px solid #ced4da;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* @media (min-width: 7000px) {
  .forget-password .panel-default {
    padding: 23% 10% 23% 10%;
    margin-top: -27%;
    background-color: #ffffff;
    border: 0px;
    text-align: center;
  }
} */
/* @media (max-width: 480px) {
  .forget-password .panel-default {
    padding: 23% 30% 23% 30%;
    margin-top: -27%;
    background-color: #ffffff;
    border: 0px;
  }
} */
.imgForget {
  width: 35%;
  margin-bottom: 0%;
}
.btnForget {
  /* background: #c0392b; */
  border: none;
}
.forget-password .dropdown {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.forget-password .dropdown button {
  width: 100%;
}
.forget-password .dropdown ul {
  width: 100%;
}
