/* .searchbar {
  margin-bottom: auto;

  height: 50px;
  background-color: #353b48;
  border-radius: 30px;

  padding: 6px;
} */

/* 
.search_icon {
  height: 40px;

  width: 40px;

  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
} */
